@font-face {
  font-family: space-light;
  src: url('./assets/fonts/SpaceGrotesk-Light.ttf');
}
@font-face {
  font-family: space-regular;
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf');
}
@font-face {
  font-family: space-medium;
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf');
}
@font-face {
  font-family: space-semibold;
  src: url('./assets/fonts/SpaceGrotesk-SemiBold.ttf');
}
@font-face {
  font-family: space-bold;
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf');
}

:root {
  font-family: space-regular, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #ffffffde;

  background: #242424 url(https://grainy-gradients.vercel.app/noise.svg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: space-bold;
  filter: drop-shadow(0.2rem 0.2rem 0 #1db954);
}

button {
  border-radius: 10rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffffde;
}
button:hover {
  background-color: #1db954;
  transition: background-color 0.5s;
}
